<style>
    #zzdl.root-content{
        background-color: #f6f6f6;
    }
    #zzdl.root-content > div{
        position: relative;
        width: 920px;
        margin: 0 auto;
        background-color: white;
    }
    #zzdl > .zzdl-content {
        padding: 20px 65px 40px 15px;
    }
    #zzdl .part-title{
        font-size: 18px;
        padding-left: 40px;
        padding-bottom: 20px;
        color: #59b399;
    }
    #zzdl .zzdl-content .ivu-form-item-error-tip{
        padding-top: 3px;
        font-size: 12px !important;
    }
    #gszcPlan .ivu-form-item-error-tip{
        padding-top: 3px;
        font-size: 12px !important;
        margin-top: -10px;
    }
    .business .ivu-form-item-error-tip{
        padding-top: 3px;
        font-size: 12px !important;
        margin-top: -10px;
    }
    #zzdl .part-content{
        padding-left: 40px;
        padding-right: 20px;
    }
    #zzdl .part-content *{
        font-size: 14px!important;
    }
    #zzdl .text-row{
        display: inline-flex;
    }

    #zzdl .text-item{
        padding: 0px;
    }
    #zzdl .text-input{
        position: relative;
        top: -10px;
        width: 100px;
    }
    #zzdl .text-input input{
        border-top: none;
        border-left: none;
        border-right: none;
        text-align: center;
        height: 30px;
        font-size: 14px;
    }
    #zzdl .ivu-input,.ivu-select-selection{
        border-radius: 0;
    }
    #zzdl .ivu-select-selected-value{
        text-align: center;
    }
    #zzdl .subject-B .ivu-select-selected-value{
        text-align: left;
    }
    #zzdl .last-row{
        margin-left: 40px;
        padding-top: 28px;
    }
    #zzdl .last-row .text-item{
        font-size: 18px;
        font-weight: bold;
    }
    #zzdl .last-row .text-item-symbol{
        font-size: 14px;
        position: relative;
        top: 5px;
    }
    #zzdl .zzdl-content .ivu-form .ivu-form-item-label {
        text-align: justify;
        text-align-last: justify;
        vertical-align: middle;
        float: left;
        color: rgb(51,51,51);
        line-height: 1;
        padding: 10px 20px 10px 0;
        box-sizing: border-box;
    }
    #zzdl .zzdl-content .ivu-form-item {
        margin-bottom: 15px;
        vertical-align: top;
        zoom: 1;
    }
    #zzdl .zzdl-content .ivu-select-arrow {
        position: absolute;
        top: 50%;
        right: 15px;
        line-height: 1;
        margin-top: -7px;
        font-size: 14px;
        color: #80848f;
        transition: all .2s ease-in-out;
    }
    #zzdl .zzdl-content .ivu-checkbox {
        display: inline-block;
        vertical-align: middle;
        white-space: nowrap;
        cursor: pointer;
        outline: 0;
        line-height: 1;
        position: relative;
        padding-right: 10px;
    }
    #zzdl .serviceList {
        background: white;
        padding: 0;
        border: none;
    }
    #zzdl .serviceListItem {
        margin-right: 80px;
    }
    #zzdl .zzdl-content .ivu-radio {
        display: inline-block;
        margin-right: 12px;
        white-space: nowrap;
        outline: 0;
        position: relative;
        line-height: 1;
        vertical-align: middle;
        cursor: pointer;
    }
    #zzdl hr{
        margin-top: 20px;
        background-color: #e5e5e5;
        height: 1px;
        border: none;
    }
    #zzdl .form-input{
        width: 260px;
    }
    #zzdl .form-input-name{
        width: 110px;
    }
    #zzdl .form-input-tel{
        width: 140px;
    }
    #zzdl .form-input-price > input{
        font-size: 30px;
        color: #ff5a5a;
    }
    #zzdl .ivu-input[disabled], fieldset[disabled] .ivu-input {
        background-color: #f3f3f3;
        opacity: 1;
        cursor: not-allowed;
        color: #333;
    }#zzdl .ivu-select-disabled .ivu-select-selection {
         background-color: #fff;
         opacity: 1;
         cursor: not-allowed;
         color: #333;
     }
    #zzdl .autoInput .ivu-auto-complete .ivu-select-dropdown{
        max-height: 200px!important;
    }
    #zzdl .ivu-tooltip-inner {
        max-width: 250px;
        min-height: 34px;
        padding: 8px 12px;
        color: #fff;
        text-align: left;
        text-decoration: none;
        background-color: rgba(70,76,91,.9);
        border-radius: 4px;
        box-shadow: 0 1px 6px rgba(0,0,0,.2);
        white-space: normal;
    }
</style>
<div id="zzdl" class="root-content">
    <div class="zzdl-content" style="position: relative;">
        <i-form :model="mainInfo" :label-width="90" :rules="ruleForm" ref="formRef" >
            <Row>
                <i-col span="12" :style="{'background':1== selectedArea ?'#f6faf9' :''}">
                    <div class="part-title">甲方基本信息</div>
                    <div class="part-content" @mousedown ="selectArea(1)">
                        <Form-item label="类型"  prop="type">
                            <radio-group v-model="mainInfo.cSList[0].type" @on-change="changeCsType">
                                <Radio label="COMPANY" :disabled="!isEditable">企业</Radio>
                                <Radio label="PERSON" :disabled="!isEditable">自然人</Radio>
                            </radio-group>
                        </Form-item>
                        <Form-item :label="mainInfo.cSList[0].type=='COMPANY'?'公司名称':'姓名'" prop="cSList[0].name" class="autoInput">
                            <Tooltip :disabled="!mainInfo.cSList[0].name" :content="mainInfo.cSList[0].name" class="tips" placement="bottom">
                                <auto-comp ref="autoName" :disabled="!isEditable" class="form-input" v-model="mainInfo.cSList[0].name"  @on-search="searchCustomerByName" @on-select="selectCustomer">
                                    <i-option v-for="item in customerList" :value="item.name" :key="item.id">{{item.name}}</i-option>
                                </auto-comp>
                            </Tooltip>
                            <!--<i-input class="form-input" v-model="mainInfo.cSList[0].name" :placeholder="mainInfo.cSList[0].type=='COMPANY'?'公司名称':'姓名'" :disabled="!isEditable"></i-input>-->
                        </Form-item>
                        <Form-item  label="证件号" prop="cSList[0].idno" class="autoInput">
                            <Tooltip :disabled="!mainInfo.cSList[0].idno" :content="mainInfo.cSList[0].idno" class="tips" placement="bottom">
                                <auto-comp :maxlength="25" ref="autoNO" :disabled="!isEditable" class="form-input" :placeholder="mainInfo.cSList[0].type=='COMPANY'?'税务登记证号/统一信用代码':'身份证号'"
                                           class="form-input" v-model="mainInfo.cSList[0].idno"  @on-search="searchCustomerByNo" @on-select="selectCustomerNo">
                                    <i-option v-for="item in customerListNo" :value="item.IDNumber" :key="item.id">{{item.IDNumber}}</i-option>
                                </auto-comp>
                            </Tooltip>
                            <!--<i-input class="form-input" v-model="mainInfo.cSList[0].idno" :placeholder="mainInfo.cSList[0].type=='COMPANY'?'税务登记证号/统一信用代码':'身份证号'" :disabled="!isEditable"></i-input>-->
                        </Form-item>
                        <Row>
                            <i-col span="13">
                                <Form-item  label="联系人" prop="cSList[0].contactName">
                                    <Tooltip :disabled="!mainInfo.cSList[0].contactName" :content="mainInfo.cSList[0].contactName" class="tips" placement="bottom">
                                        <i-input class="form-input-name" v-model="mainInfo.cSList[0].contactName" placeholder="联系人姓名" :disabled="!isEditable"></i-input>
                                    </Tooltip>
                                </Form-item>
                            </i-col>
                            <i-col span="10" offset="1">
                                <Form-item  :label-width='1' prop="cSList[0].contactPhone">
                                    <Tooltip :disabled="!mainInfo.cSList[0].contactPhone" :content="mainInfo.cSList[0].contactPhone" class="tips" placement="bottom">
                                        <i-input :maxlength="17" class="form-input-tel" v-model="mainInfo.cSList[0].contactPhone" placeholder="联系电话" :disabled="!isEditable"></i-input>
                                    </Tooltip>
                                </Form-item>
                            </i-col>
                        </Row>
                        <!--<Form-item  label="电子邮箱" prop="cSList[0].email">-->
                        <Form-item  label="电子邮箱">
                            <Tooltip :disabled="!mainInfo.cSList[0].email" :content="mainInfo.cSList[0].email" class="tips" placement="bottom">
                                <i-input class="form-input" v-model="mainInfo.cSList[0].email" placeholder="电子邮箱" :disabled="!isEditable"></i-input>
                            </Tooltip>
                        </Form-item>
                        <Form-item  label="联系地址" prop="cSList[0].address">
                            <Tooltip :disabled="!mainInfo.cSList[0].address" :content="mainInfo.cSList[0].address" class="tips" placement="bottom">
                                <i-input class="form-input" v-model="mainInfo.cSList[0].address" placeholder="实际通讯地址而非企业的工商注册地址" :disabled="!isEditable"></i-input>
                            </Tooltip>
                        </Form-item>
                    </div>
                </i-col>
                <i-col span="12" :style="{'background':2== selectedArea ?'#f6faf9' :''}">
                    <div class="part-title">乙方基本信息</div>
                    <div class="part-content" @mousedown ="selectArea(2)">
                        <Form-item label="企业名称" prop="cSList[1].name">
                            <Tooltip class="tips" :disabled="!mainInfo.cSList[1].name"  :content="mainInfo.cSList[1].name" placement="bottom">
                                <i-input v-if="!isEditable" disabled class="form-input" v-model="mainInfo.cSList[1].name"></i-input>
                                <i-select v-if="isEditable"  class="form-input subject-B" @on-change="selectInfo" v-model="mainInfo.cSList[1].name">
                                    <i-option v-for="item in companyList" :value="item.name" :key="item.name">{{ item.name }}</i-option>
                                </i-select>
                            </Tooltip>
                        </Form-item>
                        <Form-item  label="开户银行" >
                            <Tooltip :disabled="!mainInfo.cSList[0].bankName" :content="mainInfo.cSList[1].bankName" class="tips" placement="bottom">
                                <i-input class="form-input" v-model="mainInfo.cSList[1].bankName" placeholder="开户银行" disabled></i-input>
                            </Tooltip>
                        </Form-item>
                        <Form-item  label="银行账号" >
                            <Tooltip :disabled="!mainInfo.cSList[1].bankAccount" :content="mainInfo.cSList[1].bankAccount" class="tips" placement="bottom">
                                <i-input class="form-input" v-model="mainInfo.cSList[1].bankAccount" placeholder="银行账号" disabled></i-input>
                            </Tooltip>
                        </Form-item>
                        <Row>
                            <i-col span="13">
                                <Form-item  label="联系人" prop="cSList[1].contactName">
                                    <Tooltip :disabled="!mainInfo.cSList[1].contactName" :content="mainInfo.cSList[1].contactName" class="tips" placement="bottom">
                                        <i-input class="form-input-name" v-model="mainInfo.cSList[1].contactName" placeholder="联系人姓名" :disabled="!isEditable"></i-input>
                                    </Tooltip>
                                </Form-item>
                            </i-col>
                            <i-col span="10" offset="1">
                                <Form-item  :label-width="1" prop="cSList[1].contactPhone">
                                    <Tooltip :disabled="!mainInfo.cSList[1].contactPhone" :content="mainInfo.cSList[1].contactPhone" class="tips" placement="bottom">
                                        <i-input class="form-input-tel" v-model="mainInfo.cSList[1].contactPhone" placeholder="联系电话" :disabled="!isEditable"></i-input>
                                    </Tooltip>
                                </Form-item>
                            </i-col>
                        </Row>
                        </Form-item>
                        <Form-item label="电子邮箱" >
                            <Tooltip :disabled="!mainInfo.cSList[1].email" :content="mainInfo.cSList[1].email" class="tips" placement="bottom">
                                <i-input class="form-input" v-model="mainInfo.cSList[1].email" placeholder="电子邮箱" :disabled="!isEditable"></i-input>
                            </Tooltip>
                        </Form-item>
                        <Form-item label="联系地址" >
                            <Tooltip :disabled="!mainInfo.cSList[1].address" :content="mainInfo.cSList[1].address" class="tips" placement="bottom">
                                <i-input class="form-input" v-model="mainInfo.cSList[1].address" placeholder="实际通讯地址而非企业的工商注册地址" disabled></i-input>
                            </Tooltip>
                        </Form-item>

                    </div>
                </i-col>
            </Row>
            <hr />
            <Row style="margin-top: 40px">
                <i-col span="24" :style="{'background':3== selectedArea ?'#f6faf9' :''}">
                    <div class="part-title">甲方所办理的业务内容</div>
                    <div class="part-content business" @mousedown ="selectArea(3)">
                        <Radio-Group v-model="mainInfo.paymentType">
                            <Row>
                                <div class="text-row">
                                    <div class="text-item">甲方委托乙方为其提供</div>
                                    <Form-item :label-width="2" prop="content.consultation">
                                        <i-select class="text-input" v-model="mainInfo.content.consultation" :disabled="!isEditable" @on-change="changeSelectedContent" style="width: 200px" >
                                            <i-option v-for="(item, key) in contentList" :key="key"  :value="item.name">{{ item.name }}</i-option>
                                        </i-select>
                                        <!--<i-input :readonly="!isEditable" style="width: 150px" class="text-input" type="text" v-model="mainInfo.content.consultation" :maxlength="30"></i-input>-->
                                    </Form-item>
                                    <div class="text-item">方面的咨询服务；按要求对申请材料进行申查、筛选、组织、整理；</div>
                                </div>
                                <div class="text-row">
                                    <div class="text-item">指导、协助甲方准备相关申请资料。按甲方对进度的要求，在甲方取得</div>
                                    <Form-item :label-width="1" prop="content.acceptance">
                                        <i-input :readonly="true" style="width: 150px" class="text-input" type="text" v-model="mainInfo.content.acceptance" :maxlength="30"></i-input>
                                    </Form-item>
                                    <div class="text-item">受理后的</div>
                                    <Form-item :label-width="1" prop="content.workingDayOne">
                                        <i-input :readonly="true"  class="text-input" type="text" v-model="mainInfo.content.workingDayOne" :maxlength="3"></i-input>
                                    </Form-item>
                                    <div class="text-item">个工</div>
                                </div>
                                <div class="text-row">
                                    <div class="text-item">作日内，完成</div>
                                    <Form-item :label-width="1" prop="content.apply">
                                        <i-input :readonly="true" style="width: 200px;" class="text-input" type="text" v-model="mainInfo.content.apply" :maxlength="30"></i-input>
                                    </Form-item>
                                    <div class="text-item">的申请工作。</div>
                                </div>
                            </Row>
                            <Row>
                                <div class="text-row" style="margin-bottom: 15px">
                                    <Checkbox-group>
                                        <Checkbox v-model="mainInfo.content.agreement"  :disabled="!isEditable">合同补充协议</Checkbox>
                                    </Checkbox-group>
                                </div>
                            </Row>
                            <Row v-if="mainInfo.content.agreement">
                                <div class="text-row">
                                    <div class="text-item">乙方承诺，自甲方材料提交</div>
                                    <Form-item :label-width="2" prop="content.submissionMaterial">
                                        <i-input :readonly="!isEditable" style="width: 150px" class="text-input" type="text" v-model="mainInfo.content.submissionMaterial" :maxlength="30"></i-input>
                                    </Form-item>
                                    <div class="text-item">（行政审批机关）之日起</div>
                                    <Form-item :label-width="2" prop="content.workingDayTwo">
                                        <i-input :readonly="!isEditable" class="text-input" type="text" v-model="mainInfo.content.workingDayTwo" :maxlength="3"></i-input>
                                    </Form-item>
                                    <div class="text-item">工作日内完成甲方委托事项。</div>
                                </div>
                                <div class="text-row">
                                    <div class="text-item">如因乙方原因导致未能完成委托事项，乙方退还已收取的服务费用</div>
                                    <Form-item :label-width="1" prop="content.serviceCost">
                                        <i-input :readonly="!isEditable" style="width: 150px" class="text-input" type="text" v-model="mainInfo.content.serviceCost" :maxlength="30"></i-input>
                                    </Form-item>
                                    <div class="text-item">；非因乙方原因导致未能完成委托</div>
                                </div>
                                <div class="text-row">
                                    <div class="text-item">
                                        事项，乙方不退还已收取的服务费用，且不承担任何责任。
                                    </div>
                                </div>
                            </Row>
                        </Radio-Group>
                    </div>
                </i-col>
            </Row>
            <hr />
            <Row style="margin-top: 40px">
                <i-col span="24" :style="{'background':4== selectedArea ?'#f6faf9' :''}">
                    <div class="part-title">服务期限约定</div>
                    <div class="part-content" style="height: 60px;" @mousedown ="selectArea(4)">
                        <div>
                            <Radio-Group v-model="mainInfo.periodType">
                                <Radio label="NONE" :disabled="!isEditable">无明确的服务周期</Radio>
                                <br>
                            </Radio-Group>
                        </div>
                        <div style="margin-top: 10px;">
                            <p>咨询服务期限自本合同签署之日起生效，至咨询服务完成并取得相应资质之日终止。</p>
                        </div>
                    </div>
                </i-col>
            </Row>
            <hr />
            <Row id="gszcPlan" style="margin-top: 40px">
                <i-col span="24" :style="{'background':5== selectedArea ?'#f6faf9' :''}">
                    <div class="part-title">甲方支付方案</div>
                    <div class="part-content" @mousedown ="selectArea(5)">
                        <Radio-Group v-model="mainInfo.paymentType" @on-change="changePayType">
                            <Row>
                                <Radio :disabled="!isEditable" label="ONCE">一次性支付</Radio>
                                <Radio :disabled="!isEditable" style="margin-left: 42px" label="BATCH">分笔支付</Radio>
                            </Row>
                            <br>
                            <Row v-if="mainInfo.paymentType=='ONCE'">
                                <div class="text-row">
                                    <div class="text-item">甲方于本合同生效后</div>
                                    <Form-item :label-width="1" prop="content.payWayOnceDaysItem">
                                        <i-input :readonly="!isEditable" class="text-input" type="text" v-model="mainInfo.content.payWayOnceDaysItem" :maxlength="2"></i-input>
                                    </Form-item>
                                    <div class="text-item">日内将上述服务费用一次性支付给乙方，乙方在收到全部服务费用后开展委托事项工作。</div>
                                </div>
                            </Row>
                            <Row v-if="mainInfo.paymentType=='BATCH'">
                                <div class="text-row">
                                    <div class="text-item">甲方于本合同生效后三日内支付首期服务费&nbsp￥ </div>
                                    <Form-item :label-width="1" prop="content.payWayMonthlyFirstPay">
                                        <i-input :maxlength="6" :readonly="!isEditable" class="text-input" type="text" v-model="mainInfo.content.payWayMonthlyFirstPay"></i-input>
                                    </Form-item>
                                    <div class="text-item">元（大写：人民币</div>
                                    <Form-item :label-width="1">
                                        <i-input :disabled="!isEditable" class="text-input" type="text" style="width: 150px" v-model="payWayMonthlyFirstPayD" readonly></i-input>
                                    </Form-item>
                                    <div class="text-item">）</div>
                                </div>
                                <div class="text-row">
                                    <div class="text-item">余款服务费&nbsp￥</div>
                                    <Form-item :label-width="1" prop="content.payWayMonthlyOtherPay">
                                        <i-input :maxlength="6" :readonly="!isEditable" class="text-input" type="text" v-model="mainInfo.content.payWayMonthlyOtherPay"></i-input>
                                    </Form-item>
                                    <div class="text-item">元（大写：人民币</div>
                                    <Form-item :label-width="1">
                                        <i-input :readonly="!isEditable" class="text-input" type="text" style="width: 150px" v-model="payWayMonthlyOtherPayD" readonly></i-input>
                                    </Form-item>
                                    <div class="text-item">）于乙方完成委托事项后三日支付。</div>
                                </div>
                            </Row>
                        </Radio-Group>
                        <div>
                            <span style="display: inline-block;font-weight: bold">支付方式 :</span>
                            <Checkbox-Group style="display: inline-block;margin-left: 20px" v-model="tempPayment" @on-change="changePayment">
                                <Checkbox label="WECHAT" :disabled="!isEditable">对公转账</Checkbox>
                                <Checkbox label="CHECK" :disabled="!isEditable">现金（支付宝、微信支付）</Checkbox>
                                <Checkbox label="POS" :disabled="!isEditable">POS 机刷卡</Checkbox>
                                <Checkbox label="ONLINE" :disabled="!isEditable">线上支付</Checkbox>
                            </Checkbox-Group>
                        </div>
                    </div>
                </i-col>
            </Row>
            <Row class="last-row" :style="{'background':6== selectedArea ?'#f6faf9' :''}">
                <div class="text-row" @mousedown ="selectArea(6)">
                    <div class="text-item">合约总额&nbsp</div>
                    <div>
                        <span class="text-item-symbol">￥</span>
                    </div>
                    <div  v-if="mainInfo.paymentType=='ONCE'" >
                        <Form-item style="margin-left: 30px;margin-right: 30px" :label-width="1" prop="price">
                            <i-input :readonly="!isEditable" class="text-input form-input-price" :maxlength="6" style="width:200px;" type="text" v-model="mainInfo.price" :readonly="mainInfo.paymentType=='BATCH'"></i-input>
                        </Form-item>
                    </div>
                    <div  v-if="mainInfo.paymentType=='BATCH'" >
                        <i-input :readonly="!isEditable" class="text-input form-input-price" style="width:200px;" type="text" v-model="otherPrice" readonly></i-input>
                    </div>
                    <div class="text-item">元</div>
                </div>
            </Row>
            <div style="clear:both"></div>
        </i-form>
        <br>
    </div>
</div>
<script>
    new Vue({
        el: "#zzdl",
        data: function () {
            var vm = this;
            var validateStart = function (rule, value, callback) {
                if (value === '') {
                    callback(new Error('开始时间不能为空'));
                } else {
                    if (vm.mainInfo.periodEnd !== '' && vm.mainInfo.periodEnd < value) {
                        // 对第二个密码框单独验证
                        callback(new Error('开始时间不能大于结束时间'));
                    } else {
                        callback();
                    }
                }
            };
            var validateEnd = function (rule, value, callback) {
                if (value === '') {
                    callback(new Error('结束时间不能为空'));
                } else {
                    if (vm.mainInfo.periodStart !== '' && value < vm.mainInfo.periodStart) {
                        // 对第二个密码框单独验证
                        callback(new Error('结束时间不能小于开始时间'));
                    } else {
                        callback();
                    }
                }
            };
            return {
                op: "",
                customerList: [],
                customerListNo: [],
                price: '',
                isEditable: true,
                selectedArea: 0,
                companyList: [],
                isContractPerfect: false,
                mainInfo: {
                    contractDefId: "942684565493329922",
                    cSList: [{
                        type: 'COMPANY',
                        subjectAlias: "A",
                        signedType: "SEAL"
                    }, {
                        type: '',
                        subjectAlias: "B",
                        signedType: "SEAL"
                    }],
                    cRList: [],
                    content: {
                        payWayMonthlyFirstPay: '',
                        payWayMonthlyOtherPay: '',
                        businessType: "1",
                        serviceItem: [],
                        agreement: false, //合同补充协议
                        consultation: '',
                        acceptance: '',
                        workingDayOne: '',
                        apply: '',
                        submissionMaterial: '',
                        workingDayTwo: '',
                        serviceCost: '',
                    },
                    paymentType: 'ONCE',
                    periodType: 'NONE',
                    payment: ""
                },
                tempPayment: [],
                contentList: [
                    {
                        name: 'ICP经营许可证',
                        mechanism: '通信管理局',
                        time: '40-60'
                    }, {
                        name: '网络文化经营许可证',
                        mechanism: '文化局',
                        time: '20'
                    }, {
                        name: '广播电视节目制作许可证',
                        mechanism: '市新闻广电局',
                        time: '20'
                    }, {
                        name: '营业性演出许可证',
                        mechanism: '市文化局',
                        time: '20'
                    }, {
                        name: '游戏版号',
                        mechanism: '新闻出版总署',
                        time: '60'
                    }, {
                        name: 'icp年审',
                        mechanism: '通信管理局',
                        time: '20'
                    }, {
                        name: 'icp挂靠',
                        mechanism: 'ICP所属公司',
                        time: '1'
                    }, {
                        name: '游戏运营备案',
                        mechanism: '文化部',
                        time: '40'
                    }, {
                        name: 'ISO9001（65人以内）',
                        mechanism: '认证机构',
                        time: '20-30'
                    }, {
                        name: 'ISO14001（65人以内）',
                        mechanism: '认证机构',
                        time: '30-60'
                    }, {
                        name: 'ISO18001（65人以内）',
                        mechanism: '认证机构',
                        time: '30-60'
                    }, {
                        name: 'ISO20000（10人以内）',
                        mechanism: '认证机构',
                        time: '60-90'
                    }, {
                        name: 'ISO27001（10人以内）',
                        mechanism: '认证机构',
                        time: '60-90'
                    },

                ],
                ruleForm: {
                    price: [
                        {required: true, message: '价格不能为空'},
                        {pattern: /^-?\d+(\.\d+)?$/, message: '请输入正确的价格'},
                        {pattern: /^[0-9]+([.]{1}[0-9]{1,2})?$/, message: '小数保留两位'}
                    ],
                    "cSList[0].name": [
                        {required: true, message: '名称不能为空'}
                    ],
                    "cSList[0].idno": [
                        {required: true, message: '该项不能为空'},
                        {pattern: /^[A-Za-z0-9]+$/, message: '只能是英文或者数字'}
                    ],
//                    "cSList[0].email": [
//                        { required: true, message: '邮箱不能为空'},
//                        { pattern:  /^[a-zA-Z0-9_-]+@[a-zA-Z0-9_-]+(\.[a-zA-Z0-9_-]+)+$/ ,message:'请输入正确的邮箱格式'}
//                    ],
                    "cSList[0].contactName": [
                        {required: true, message: '姓名不能为空'}
                    ],
                    "cSList[0].contactPhone": [
                        {required: true, message: '联系电话不能为空'}
                    ],
                    "cSList[0].address": [
                        {required: true, message: '地址不能为空'}
                    ],
                    "cSList[1].name": [
                        {required: true, message: '企业名不能为空'}
                    ],
                    "cSList[1].contactName": [
                        {required: true, message: '联系人不能为空'}
                    ],
                    "cSList[1].contactPhone": [
                        {required: true, message: '联系电话不能为空'}
                    ],
                    "content.businessType": [
                        {required: true, message: '业务类型不能为空', trigger: 'change'}
                    ],
                    "content.serviceItem": [
                        {required: true, type: 'array', min: 1, message: '至少选择一个事项', trigger: 'change'}
                    ],
                    periodStart: [
                        {required: true, type: 'date', message: '请选择日期', trigger: 'change'},
                        {validator: validateStart, trigger: 'change'}
                    ],
                    periodEnd: [
                        {required: true, type: 'date', message: '请选择日期', trigger: 'change'},
                        {validator: validateEnd, trigger: 'change'}
                    ],
                    "content.payWayOnceDaysItem": [
                        {required: true, message: '必填项'},
                        {pattern: /^-?\d+$/, message: '请输入整数'}
                    ],
                    "content.payWayMonthlyFirstPay": [
                        {required: true, message: '必填项'},
                        {pattern: /^-?\d+(\.\d+)?$/, message: '请输入数字'},
                        {pattern: /^[0-9]+([.]{1}[0-9]{1,2})?$/, message: '请输入合理数字'}
                    ],
                    "content.payWayMonthlyFirstPayD": [
                        {required: true, message: '必填项'}
                    ],
                    "content.payWayMonthlyOtherPay": [
                        {required: true, message: '必填项'},
                        {pattern: /^-?\d+(\.\d+)?$/, message: '请输入数字'},
                        {pattern: /^[0-9]+([.]{1}[0-9]{1,2})?$/, message: '请输入合理数字'}
                    ],
                    "content.payWayMonthlyOtherPayD": [
                        {required: true, message: '必填项'}
                    ],
                    "content.consultation": [
                        {required: true, message: '必填项'}
                    ],
                    "content.acceptance": [
                        {required: true, message: '必填项'}
                    ],
                    "content.workingDayOne": [
                        {required: true, message: '必填项'},
                    ],
                    "content.apply": [
                        {required: true, message: '必填项'}
                    ],
                    "content.submissionMaterial": [
                        {required: true, message: '必填项'}
                    ],
                    "content.workingDayTwo": [
                        {required: true, message: '必填项'},
                        {pattern: /^-?\d+(\.\d+)?$/, message: '请输入数字'},
                        {pattern: /^[0-9]+([.]{1}[0-9]{1,2})?$/, message: '请输入合理数字'}
                    ],
                    "content.serviceCost": [
                        {required: true, message: '必填项'}
                    ]
                }
            }
        },
        computed: {
            payWayMonthlyFirstPayD: function () {
                var str = String.transformPay(this.mainInfo.content.payWayMonthlyFirstPay);
                this.mainInfo.content.payWayMonthlyFirstPayD = str;
                return str;
            },
            payWayMonthlyOtherPayD: function () {
                var str = String.transformPay(this.mainInfo.content.payWayMonthlyOtherPay);
                this.mainInfo.content.payWayMonthlyOtherPayD = str;
                return str;
            },
            otherPrice: function () {
                var first = isNaN(this.mainInfo.content.payWayMonthlyFirstPay) ? 0 : this.mainInfo.content.payWayMonthlyFirstPay;
                var other = isNaN(this.mainInfo.content.payWayMonthlyOtherPay) ? 0 : this.mainInfo.content.payWayMonthlyOtherPay;
                return Math.format(Number(first) + Number(other), 2);
            }
        },
        created: function () {
            this.$api.contractSaveApi = this.save;
        },
        methods: {
            init: function (param) {
                if (param.isEditable == false) {
                    this.isEditable = false;
                }
                if (param.defaultInfo) {
                    this.mainInfo.cSList[0].type = param.defaultInfo.type;
                    this.mainInfo.cSList[0].name = param.defaultInfo.name;
                    this.mainInfo.cSList[0].idno = param.defaultInfo.idno;
                    this.mainInfo.cSList[0].contactName = param.defaultInfo.contactName;
                    this.mainInfo.cSList[0].contactPhone = param.defaultInfo.contactPhone;
                    this.mainInfo.cSList[0].email = param.defaultInfo.email;
                    this.mainInfo.cSList[0].address = param.defaultInfo.address;
                }
                if (param.contractId && param.contractId > 10000) {
                    this.op = "edit";
                    this.loadData(param.contractId);
                }
                if (param.defId) {
                    this.mainInfo.contractDefId = param.defId;
                }
                if (this.mainInfo.contractDefId) {
                    this.loadCompanyList();
                }
                if (param.isContractPerfect) {
                    this.isContractPerfect = param.isContractPerfect;
                }
            },
            changeCsType: function (value) {
                this.mainInfo.cSList[0].name = '';
                this.mainInfo.cSList[0].idno = '';
                this.mainInfo.cSList[0].email = '';
                this.mainInfo.cSList[0].contactName = '';
                this.mainInfo.cSList[0].contactPhone = '';
                this.mainInfo.cSList[0].address = '';
            },
            searchCustomerByNo: function (value) {
                var vm = this;
                if (value.indexOf(' ') == -1) {
                    this.request({
                        url: "/signCloud/contractBuilder/getCustomerList.do",
                        loading: false,
                        data: {
                            type: this.mainInfo.cSList[0].type,
                            name: '',
                            idno: value
                        }
                    }).then(function (data) {
                        vm.customerListNo = data;
                        vm.$refs.autoNO.toggleMenu(data && data.length > 0);
                    });
                }
            },
            selectCustomer: function (value) {
                var vm = this;
                this.customerList.map(function (item) {
                    if (item.name == value) {
                        vm.mainInfo.cSList[0].idno = item.IDNumber;
                        vm.mainInfo.cSList[0].email = item.email;
                        vm.mainInfo.cSList[0].address = item.address;
                        vm.mainInfo.cSList[0].contactName = item.linkmanName;
                        vm.mainInfo.cSList[0].contactPhone = item.linkmanPhone;
                        vm.$set(vm.mainInfo.cSList, 0, vm.mainInfo.cSList[0]);
                    }
                });
            },
            selectCustomerNo: function (value) {
                var vm = this;
                this.customerListNo.map(function (item) {
                    if (item.IDNumber == value) {
                        vm.mainInfo.cSList[0].name = item.name;
                        vm.mainInfo.cSList[0].email = item.email;
                        vm.mainInfo.cSList[0].address = item.address;
                        vm.mainInfo.cSList[0].contactName = item.linkmanName;
                        vm.mainInfo.cSList[0].contactPhone = item.linkmanPhone;
                        vm.$set(vm.mainInfo.cSList, 0, vm.mainInfo.cSList[0]);
                    }
                });
            },
            searchCustomerByName: function (value) {
                var vm = this;
                if (value.indexOf(' ') == -1) {
                    this.request({
                        url: "/signCloud/contractBuilder/getCustomerList.do",
                        loading: false,
                        data: {
                            type: this.mainInfo.cSList[0].type,
                            name: value,
                            idno: ''
                        }
                    }).then(function (data) {
                        vm.customerList = data;
                        vm.$refs.autoName.toggleMenu(data && data.length > 0);
                    });
                }
            },
            changeBusinessType: function (v) {
                this.mainInfo.content.serviceItem = [];
            },
            changeSelectedContent: function (value) {
                for (var i = 0; i < this.contentList.length; i++) {
                    if (value === this.contentList[i].name) {
                        this.mainInfo.content.acceptance = this.contentList[i].mechanism;
                        this.mainInfo.content.workingDayOne = this.contentList[i].time;
                        this.mainInfo.content.apply = this.contentList[i].name;
                    }
                }
            },
            selectArea: function (value) {
                this.selectedArea = value;
            },
            selectInfo: function (name) {
                var vm = this;
                var selectRow = {};
                this.companyList.map(function (item) {
                    if (item.name == name) {
                        vm.$set(vm.mainInfo.cSList[1], 'bankName', item.bankName);
                        vm.$set(vm.mainInfo.cSList[1], 'bankAccount', item.bankAccount);
                        vm.$set(vm.mainInfo.cSList[1], 'orgId', item.orgId);
                        vm.$set(vm.mainInfo.cSList[1], 'email', item.email);
                        vm.$set(vm.mainInfo.cSList[1], 'idno', item.idno);
                        vm.$set(vm.mainInfo.cSList[1], 'address', item.address);
                        if (vm.op != 'edit') {
                            vm.$set(vm.mainInfo.cSList[1], 'contactName', item.contactName);
                            vm.$set(vm.mainInfo.cSList[1], 'contactPhone', item.contactPhone);
                        }
                    }
                });
            },
            loadCompanyList:function(){
                var vm = this;
                this.request({
                    url: "/signCloud/contractBuilder/loadCompanyList.do?defId="+this.mainInfo.contractDefId
                }).then(function(data) {
                    vm.companyList = data;
                });
            },
            changePayment: function (paymentArray) {
                this.mainInfo.payment = "";
                if (paymentArray && paymentArray.length > 0) {
                    for (var i = 0; i < paymentArray.length; i++) {
                        this.mainInfo.payment = this.mainInfo.payment + paymentArray[i] + ",";
                    }
                    if (this.mainInfo.payment != "") {
                        this.mainInfo.payment = this.mainInfo.payment.substring(0, this.mainInfo.payment.length - 1);
                    }
                }
            },
            loadData: function (contractId) {
                var vm = this;
                this.$set(this.mainInfo.cSList[0], "type", null);
                this.request({
                    url: "/signCloud/contractBuilder/view.do?id=" + contractId
                }).then(function (data) {
                    vm.mainInfo = data;
                    var content = vm.mainInfo.content;
                    vm.mainInfo.content = JSON.parse(content);
                    var serviceItem = vm.mainInfo.content.serviceItem;
                    if (vm.mainInfo.periodEnd) {
                        vm.mainInfo.periodEnd = new Date(vm.mainInfo.periodEnd);
                    }
                    if (vm.mainInfo.periodStart) {
                        vm.mainInfo.periodStart = new Date(vm.mainInfo.periodStart);
                    }
                    if (vm.mainInfo.payment && vm.mainInfo.payment != "") {
                        vm.tempPayment = vm.mainInfo.payment.split(",");
                    }
                    vm.$nextTick(function () {
                        vm.mainInfo.content.serviceItem = serviceItem;
                    });
                    vm.$api.renderInsteadFromTemplate(data);
                });
            },
            changePayType: function () {
            },
            save: function (callBack) {
                var vm = this;
                vm.$refs['formRef'].validate(function (valid) {
                    if (valid) {
                        if (vm.mainInfo.periodType == 'START_END' && vm.mainInfo.periodStart > vm.mainInfo.periodEnd) {
                            vm.$Message.error({content: "开始时间不能大于结束时间!", duration: 3});
                            return;
                        }
                        var cRList = [];
                        if (vm.mainInfo.cSList[0].type == "COMPANY") {
                            vm.mainInfo.cSList[0].signedType = "SEAL";
                        } else {
                            vm.mainInfo.cSList[0].signedType = "SIGNATURE";
                        }
                        var cSList = [vm.mainInfo.cSList[0], vm.mainInfo.cSList[1]];
                        //单笔
                        if (vm.mainInfo.paymentType == 'ONCE') {
                            cRList.push({
                                price: vm.mainInfo.price,
                                title: '一次性支付',
                                idx: 1
                            });
                        } else {
                            cRList.push({
                                price: vm.mainInfo.content.payWayMonthlyFirstPay,
                                title: '首期服务费',
                                idx: 1
                            });
                            cRList.push({
                                price: vm.mainInfo.content.payWayMonthlyOtherPay,
                                title: '余款服务费',
                                idx: 2
                            });
                        }
                        var sendData = Object.assign({}, vm.mainInfo);
                        sendData.cRList = cRList;
                        sendData.cSList = cSList;
                        if (vm.mainInfo.paymentType != 'ONCE') {
                            sendData.price = vm.otherPrice;
                        }
                        sendData.payment = vm.mainInfo.payment;
                        sendData.content = JSON.stringify(vm.mainInfo.content);
                        callBack(sendData);
                    } else {
                        callBack(false);
                    }
                });
            },
        }
    })
</script>